<h2>Agregar platillo a <%= @menu_category.name %></h2>

<%= form_with model: [@menu_category, @menu_item], local: true do |f| %>

  <%# hidden restaurant_id (viene de params o selección) %>
  <%= hidden_field_tag "menu_item[restaurant_id]", (@menu_item.restaurant_id || params[:restaurant_id]) %>

  <div class="mb-3">
    <%= f.label :name, "Nombre del platillo" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :description, "Descripción" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :price, "Precio" %>
    <%= f.number_field :price, step: 0.01, class: "form-control" %>
  </div>

  <%# Si quieres, mostrar la categoría (disabled) %>
  <div class="mb-3">
    <label class="form-label">Categoría</label>
    <input type="text" class="form-control" value="<%= @menu_category.name %>" disabled>
  </div>

  <div class="mb-3">
    <%= f.submit "Crear platillo", class: "btn btn-primary" %>
    <%= link_to "Cancelar", restaurant_path(@menu_item.restaurant || params[:restaurant_id]), class: "btn btn-secondary ms-2" %>
  </div>
<% end %>
