<h2>Paso 1 – Datos legales y de contacto</h2>

<%= form_with model: @establishment.legal_info || @establishment.build_legal_info, url: wizard_path, method: :put, scope: :legal_info, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :business_name, "Razón social / Nombre comercial" %>
    <%= f.text_field :business_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :legal_representative, "Representante legal / Administrador" %>
    <% if current_user.afiliado? %>
      <%= f.text_field :legal_representative, value: current_user.name, class: "form-control" %>
    <% else %>
      <%= f.text_field :legal_representative, class: "form-control" %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :document_type, "Tipo de documento" %>
    <%= f.select :document_type, ["RUC", "DNI", "Pasaporte", "Cédula"], {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.label :document_number, "Número de documento" %>
    <%= f.text_field :document_number, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :contact_email, "Correo electrónico" %>
    <% if current_user.afiliado? %>
      <%= f.email_field :contact_email, value: current_user.email,class: "form-control" %>
    <% else %>
      <%= f.email_field :contact_email, class: "form-control" %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :contact_phone, "Teléfono" %>
    <% if current_user.afiliado? %>
      <%= f.telephone_field :contact_phone, value: current_user.phone,class: "form-control" %>
    <% else %>
      <%= f.telephone_field :contact_phone, class: "form-control" %>
    <% end %>
  </div>

  <%#= f.submit "Siguiente", class: "btn btn-primary" %>
  <%= hidden_field_tag :edit_mode, @edit_mode %>
  <%#= f.submit @edit_mode ? "Guardar cambios" : "Guardar y continuar", class: "btn btn-primary" %>
  <%= f.submit @edit_mode ? "Guardar cambios" : "Guardar y continuar",
               class: "btn #{@edit_mode ? 'btn-warning' : 'btn-primary'}" %>

<% end %>
