<h2>Paso 2 – Perfil del establecimiento</h2>

<%= form_with model: @establishment, url: wizard_path, method: :put do |f| %>
  <div class="mb-3">
    <%= f.label :name, "Nombre público" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :short_description, "Descripción breve" %>
    <%= f.text_field :short_description, maxlength: 150, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :long_description, "Descripción detallada" %>
    <%= f.text_area :long_description, maxlength: 2000, rows: 6, class: "form-control" %>
  </div>

<!--  <div class="mb-3">-->
    <%#= f.label :category, "Categoría" %>
    <%#= f.select :category, ["Hotel", "Hostal", "Casa", "Departamento", "Restaurante", "Actividad"], {}, class: "form-select" %>
<!--  </div>-->
  <div class="mb-3">
    <%= f.label :category, "Categoría", class: "form-label" %>
    <%= f.select :category, Establishment.categories.keys.map { |s| [s.titleize, s] }, { prompt: "Seleccione categoría" }, class: "form-select" %>
  </div>
<!--  <div class="mb-3">-->
    <%#= f.label :amenities, "Servicios/Amenidades" %>
    <%#= f.text_area :amenities, placeholder: "Ej: WiFi, Piscina, Parqueadero", rows: 3, class: "form-control" %>
<!--  </div>-->

<!--  <div class="mb-3">-->
<!--    <%#= f.label :amenities, "Comodidades" %><br>-->
    <%# Amenity.all.each do |amenity| %>
<!--      <div class="form-check form-check-inline">-->
        <%#= check_box_tag "establishment[amenity_ids][]", amenity.id, @establishment.amenity_ids.include?(amenity.id), id: "amenity_#{amenity.id}", class: "form-check-input" %>
        <%#= label_tag "amenity_#{amenity.id}", amenity.name, class: "form-check-label" %>
<!--      </div>-->
    <%# end %>
<!--  </div>-->


  <div class="mb-3">
    <%= f.label :amenities, "Comodidades" %><br>
    <% Amenity.all.each do |amenity| %>
      <div class="form-check form-check-inline">
        <%= check_box_tag "establishment[amenity_ids][]", amenity.id, @establishment.amenity_ids.include?(amenity.id), id: "amenity_#{amenity.id}", class: "form-check-input" %>
        <%= label_tag "amenity_#{amenity.id}", amenity.name, class: "form-check-label" %>
      </div>
    <% end %>
  </div>

  <h3>Politicas</h3>


  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :check_in_time, "Horario de Check-in" %>
      <%= f.time_field :check_in_time, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= f.label :check_out_time, "Horario de Check-out" %>
      <%= f.time_field :check_out_time, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :policies, "Políticas adicionales (mascotas, niños, fumar, depósito, etc.)" %>
    <%= f.text_area :policies, rows: 5, class: "form-control", placeholder: "Ejemplo:
- Mascotas permitidas (máx. 10 kg, $15 extra por noche)
- Niños menores de 6 años gratis
- No fumar en habitaciones
- Depósito reembolsable de $100" %>
  </div>
<!--  <div class="mb-3">-->
    <%#= f.label :policies, "Políticas" %>
    <%#= f.text_area :policies, rows: 3, class: "form-control" %>
<!--  </div>-->

  <%= f.submit "Siguiente", class: "btn btn-primary" %>
<% end %>
