<h2>Paso 6 – Políticas de precios y beneficios</h2>

<%= form_with model: [@establishment, (@establishment.pricing_policy || PricingPolicy.new)],
              url: wizard_path, method: :put, local: true do |form| %>

  <div class="mb-3">
    <%= form.label :currency, "Moneda de operación", class: "form-label fw-semibold" %>
    <%= form.text_field :currency, class: "form-control", placeholder: "Ej: USD, EUR, PEN" %>
  </div>

  <div class="mb-3">
    <%= form.label :service_fee, "Comisión de servicio (%)", class: "form-label fw-semibold" %>
    <%= form.number_field :service_fee, step: 0.01, min: 0, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :max_discount, "Descuento máximo para clientes (%)", class: "form-label fw-semibold" %>
    <%= form.number_field :max_discount, step: 1, min: 0, max: 100, class: "form-control" %>
  </div>

<!--  <div class="mb-3">-->
    <%#= form.label :refund_policy, "Políticas de reembolso / cancelación", class: "form-label fw-semibold" %>
    <%#= form.text_area :refund_policy, rows: 4, class: "form-control", placeholder: "Describe tus políticas..." %>
<!--  </div>-->


  <div data-controller="refund-policy">
    <%= form.label :refund_policy, "Políticas de cancelación" %>
    <div data-refund-policy-target="container">
      <% Array(@establishment.refund_policy).each do |policy| %>
        <div class="input-group mb-2">
          <%= form.text_field :refund_policy, value: policy, name: "pricing_policy[refund_policy][]", class: "form-control" %>
          <button type="button" class="btn btn-outline-danger" data-action="refund-policy#remove">Eliminar</button>
        </div>
      <% end %>
    </div>
    <button type="button" class="btn btn-outline-primary mt-2" data-action="refund-policy#add">Agregar política</button>
  </div>


  <div class="d-flex justify-content-between">
    <%= link_to "Atrás", previous_wizard_path(establishment_id: @establishment.id), class: "btn btn-secondary" %>
    <%= form.submit "Guardar y continuar", class: "btn btn-primary" %>
  </div>
<% end %>
