<!--<h1>Reservas de <%#= @unit.unit_type %></h1>-->

<!--<table class="table table-striped mt-3">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Turista</th>-->
<!--    <th>Fecha inicio</th>-->
<!--    <th>Fecha fin</th>-->
<!--    <th>Acciones</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
  <%# @reservations.each do |reservation| %>
<!--    <tr>-->
<!--      <td><%#= reservation.id %></td>-->
<!--      <td><%#= reservation.user.email %></td>-->
<!--      <td><%#= reservation.start_date.strftime("%d/%m/%Y") %></td>-->
<!--      <td><%#= reservation.end_date.strftime("%d/%m/%Y") %></td>-->
<!--      <td>-->
        <%#= link_to "Ver calendario", hotel_unit_reservation_path(@hotel, @unit, reservation), class: "btn btn-sm btn-outline-primary" %>
        <%#= link_to "Editar reserva", edit_hotel_unit_reservation_path(@hotel, @unit, reservation), class: "btn btn-sm btn-outline-primary" %>
        <%#= link_to "Eliminar", hotel_unit_reservation_path(@hotel, @unit, reservation), method: :delete, data: { confirm: "¿Seguro que quieres eliminar esta reserva?" }, class: "btn btn-sm btn-outline-danger ms-2" %>
<!--      </td>-->
<!--    </tr>-->
  <%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<div class="mt-4">-->
  <%#= link_to "➕ Nueva reserva", new_hotel_unit_reservation_path(@hotel, @unit), class: "btn btn-success" %>
  <%#= link_to "⬅ Volver a unidades", hotel_units_path(@hotel), class: "btn btn-secondary ms-2" %>
<!--</div>-->

<div class="container my-5">
  <h1 class="fw-bold mb-4 text-center">
    Calendario de reservas para <%= @unit.unit_type %>
  </h1>

  <% if user_signed_in? %>
    <% if current_user.administrador? %>
      <%= render "reservations/index/index_admin", unit: @unit, hotel: @hotel, reservations: @reservations %>
    <% elsif current_user.afiliado? %>
      <%= render "reservations/index/index_afiliado", unit: @unit, hotel: @hotel, reservations: @reservations %>
    <% elsif current_user.turista? %>
      <%= render "reservations/index/index_turista", unit: @unit, hotel: @hotel, reservations: @reservations %>
    <% end %>
  <% else %>
    <%= render "reservations/index/index_turista", unit: @unit, hotel: @hotel, reservations: @reservations %>

  <% end %>

</div>


