<h1>Lista de Precios de Planes</h1>

<%= link_to "Nuevo Precio", new_plan_price_path, class: "btn btn-primary mb-3" %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Usuario</th>
    <th>Tipo de Plan</th>
    <th>Duración (meses)</th>
    <th>Precio (USD)</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <% @plan_prices.each do |plan_price| %>
    <tr>
      <td><%= plan_price.target_role.humanize %></td>
      <td><%= plan_price.plan_type.humanize %></td>
      <td><%= plan_price.duration %></td>
      <td><%= number_to_currency(plan_price.price) %></td>
      <td>
        <%= link_to plan_price, class: "btn btn-info btn-sm" do %>
          <i class="fa-solid fa-eye"></i>
        <% end %>
        <%= link_to edit_plan_price_path(plan_price), class: "btn btn-warning btn-sm" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to plan_price_path(plan_price), data: { turbo_method: :delete, turbo_confirm: "¿Está seguro de eliminar este plan?" }, class: "btn btn-danger btn-sm" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

