<div class="d-flex justify-content-between align-items-center mb-4">
  <div>
    <h1 class="mb-0">Gastronomia</h1>
    <% if @current_type.present? %>
      <div class="mt-2">
        <span class="badge rounded-pill bg-warning text-dark fs-6 filter-badge">
          <i class="fas fa-filter me-1"></i>
          <%= @current_type.humanize.capitalize %>
          <%= link_to restaurants_path, class: "remove-filter text-dark ms-2", title: "Quitar filtro" do %>
            <i class="fas fa-times"></i>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>

  <% if current_user&.administrador? %>
    <%= link_to select_affiliate_establishments_path, class: "btn btn-primary btn-lg" do %>
      <i class="fa-solid fa-plus"></i> Nuevo
    <% end %>
  <% end %>

  <% if current_user&.afiliado? %>
    <%= link_to new_restaurant_path, class: "btn btn-primary btn-lg" do %>
      <i class="fa-solid fa-plus"></i> Nuevo
    <% end %>
  <% end %>
</div>

<% if current_user&.administrador? %>
  <%= render "table_view", restaurants: @restaurants %>
<% elsif current_user&.afiliado? %>
  <%= render "card_view", restaurants: @restaurants %>
<% else %>
  <%= render "catalog_view", restaurants: @restaurants %>
<% end %>
