<%= form_with model: [ @hotel, @hotel.units.build ] do |form| %>


  <!-- Tipo de unidad -->
  <div class="mb-3">
    <%= form.label :unit_type, "Tipo de unidad", class: "form-label" %>
    <%= form.text_field :unit_type, class: "form-control", placeholder: "Ejemplo: Habitación doble" %>
  </div>

  <!-- Capacidad -->
  <div class="mb-3">
    <%= form.label :capacity, "Capacidad", class: "form-label" %>
    <%= form.number_field :capacity, class: "form-control", min: 1 %>
  </div>

  <!-- Precio base -->
  <div class="mb-3">
    <%= form.label :base_price, "Precio base (USD)", class: "form-label" %>
    <%= form.number_field :base_price, step: 0.01, class: "form-control" %>
  </div>

  <!-- Configuración de camas (JSON) -->
  <div class="mb-3">
    <%= form.label :bed_configuration, "Configuración de camas", class: "form-label" %>
    <%= form.text_area :bed_configuration, rows: 3, class: "form-control", placeholder: '{"camas_matrimoniales": 1, "camas_individuales": 2}' %>
    <div class="form-text">Introduce un JSON válido (ej. {"doble":1,"simple":2})</div>
  </div>



  <div class="mt-4">
    <%= form.submit "Guardar unidad", class: "btn btn-primary" %>
  </div>
<% end %>
