<h2>Nueva galería</h2>

<%#= form_with(model: [@establishment, @establishment.galleries.build], local: false, html: { data: { controller: "gallery-new" } }) do |f| %>
<%= form_with(model: [@establishment, @establishment.galleries.build]) do |f| %>
  <div class="mb-3">
    <%= f.label :name, "Nombre de la galería" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

<!--  <div class="mb-3">-->
<!--    <%#= f.label :gallery_images, "Imágenes" %><br>-->
    <%#= f.file_field :gallery_images_attributes, multiple: true, name: "gallery[gallery_images_attributes][][file]", accept: "image/*", data: { action: "change->gallery-new#preview" } %>
<!--  </div>-->

<!--  <div data-gallery-new-target="previewContainer" class="d-flex flex-wrap gap-2"></div>-->

  <div class="mt-3">
    <%= f.submit "Guardar galería", class: "btn btn-primary" %>
    <%= link_to "Cancelar", @establishment, class: "btn btn-secondary" %>
  </div>
<% end %>
