<%= form_with(model: [:admin, @user], local: true) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4>Errores:</h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :email, "Correo" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :phone, "Teléfono" %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :role, "Rol" %>
    <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] }, {}, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, "Contraseña" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, "Confirmar Contraseña" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-success" %>
<% end %>
