
<%= link_to new_admin_user_path, class: "btn btn-primary btn-lg" do %>
  <i class="fa-solid fa-plus"></i> Nuevo usuario
<% end %>

<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Teléfono</th>
    <th>Rol</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.role.titleize %></td>
      <td>
        <%= link_to admin_user_path(user), class: "btn btn-info btn-sm" do %>
          <i class="fa-solid fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_user_path(user), class: "btn btn-warning btn-sm" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: "¿Está seguro de eliminar este usuario?" }, class: "btn btn-danger btn-sm" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>

        <%= link_to "Nueva Suscripción", new_admin_user_subscription_path(user), class: "btn btn-sm btn-success" %>

      </td>
    </tr>
  <% end %>
  </tbody>
</table>
