<h1>Nuevo hotel</h1>

<%#= render "form", hotel: @hotel %>

<%= form_with(model: @hotel, local: true, data: { controller: "gallery", action: "submit->gallery#submitForm",
                                                  model: "hotel" }) do |f| %>
  <%= f.fields_for :establishment do |e| %>
    <!-- Datos legales -->
    <div class="card mb-4">
      <div class="card-header fw-bold">1. Datos legales y contacto</div>
      <div class="card-body">
        <%= e.fields_for :legal_info do |l| %>
          <div class="mb-3">
            <%= l.label :business_name, "Razón social / nombre comercial" %>
            <%= l.text_field :business_name, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= l.label :document_number, "RUC / identificación fiscal" %>
            <%= l.text_field :document_number, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= l.label :legal_representative, "Nombre del responsable / administrador" %>
            <%= l.text_field :legal_representative, class: "form-control" %>
          </div>
          <%= e.hidden_field :user_id, value: @affiliate&.id || current_user.id %>

          <div class="mb-3">
            <%= l.label :contact_email, "Email de contacto" %>
            <%= l.email_field :contact_email, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= l.label :contact_phone, "Teléfono de contacto" %>
            <%= l.telephone_field :contact_phone, class: "form-control" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Perfil -->
  <div class="card mb-4">
    <div class="card-header fw-bold">2. Perfil del hotel</div>
    <div class="card-body">
      <%= f.fields_for :establishment do |e| %>

        <div class="mb-3">
          <%= e.label :name, "Nombre público del hotel" %>
          <%= e.text_field :name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= e.label :address, "Dirección completa" %>
          <%= e.text_field :address, class: "form-control" %>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.label :hotel_type, "Tipo de hotel", class: "form-label" %>
        <%= f.select :hotel_type, options_for_select([
                                                       ['Hotel convencional', 'conventional'],
                                                       ['Hotel boutique', 'boutique'],
                                                       ['Hotel de cadena', 'chain'],
                                                       ['Resort', 'resort'],
                                                       ['Ecohotel / Ecolodge', 'ecohotel']
                                                     ], @hotel.hotel_type), { include_blank: 'Selecciona un tipo' }, class: "form-select" %>
      </div>

      <div class="mb-3">
        <%= f.label :stars, "Categoría" %>
        <%= f.select :stars,
                     options_for_select((1..5).map { |i| ["#{"⭐" * i}", i] }, @hotel.stars),
                     {}, class: "form-select" %>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header fw-bold">3. Ubicación general</div>
    <div class="card-body">
      <%= f.fields_for :establishment do |e| %>


        <div data-controller="location">

          <div class="mb-3">
            <%= e.label :country_id, "País" %>
            <%= e.collection_select :country_id, Country.all, :id, :name, { prompt: "Seleccionar país" },
                                    { class: "form-select",
                                      data: { action: "change->location#updateProvinces", location_target: "country" } } %>
          </div>

          <div class="mb-3">
            <%= e.label :province_id, "Provincia" %>
            <%= e.collection_select :province_id, [], :id, :name, { prompt: "Seleccionar provincia" },
                                    { class: "form-select", data: { action: "change->location#updateCities", location_target: "province" } } %>
          </div>


          <div class="mb-3">
            <%= e.label :city_id, "Ciudad" %>
            <%= e.collection_select :city_id, [],
                                    :id, :name,
                                    { prompt: "Seleccionar ciudad" },
                                    class: "form-select",
                                    data: { location_target: "city" } %>
          </div>
        </div>

      <% end %>

    </div>
  </div>


  <div class="card mb-4">
    <div class="card-header fw-bold">4. Comodidades</div>
    <div class="card-body">

      <%= f.fields_for :establishment do |e| %>
        <div class="mb-3" data-controller="amenity-selector">

          <div class="row row-cols-2 row-cols-md-5 g-3 mt-2">
            <% Amenity.all.each do |amenity| %>
              <div class="col">
                <div class="form-check d-flex flex-column align-items-center border rounded p-2 h-100
              <%= "selected" if @hotel.establishment&.amenity_ids&.include?(amenity.id) %>"
                     data-action="click->amenity-selector#toggle">

                  <%= e.check_box :amenity_ids,
                                  { multiple: true,
                                    checked: @hotel.establishment&.amenity_ids&.include?(amenity.id),
                                    id: "amenity_#{amenity.id}",
                                    class: "d-none",
                                    data: { amenity_selector_target: "checkbox" } },
                                  amenity.id, nil %>

                  <%# if amenity.custom_icon.attached? %>
                  <%# if amenity.custom_icon.blob.content_type == "image/svg+xml" %>
                  <%#= image_tag url_for(amenity.custom_icon), alt: amenity.name, style: "width:32px; height:32px; object-fit:contain;" %>
                  <%# else %>
                  <%#= image_tag amenity.custom_icon.variant(resize_to_limit: [32,32]), alt: amenity.name %>
                  <%# end %>
                  <%# end %>

                  <% if amenity.custom_icon.attached? && amenity.custom_icon.content_type == 'image/svg+xml' %>
                    <% svg_content = amenity.custom_icon.download %>
                    <%= raw svg_content.gsub('<svg', '<svg width="32" height="32"') %>
                  <% else %>
                    <i class="fa fa-circle-question fa-2x text-muted"></i>
                  <% end %>


                  <span class="mt-1 text-center"><%= amenity.name %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <style>
          /* Estilo de tarjeta seleccionada */
          .form-check.selected {
              background-color: rgba(13, 110, 253, 0.15);
              border-color: #0d6efd;
          }

          /* Ícono de la tarjeta seleccionada */
          .form-check.selected img {
              transform: scale(1.1);
              filter: brightness(1.2);
              transition: transform 0.2s, filter 0.2s;
          }

          /* Hover sobre la tarjeta */
          .form-check:hover {
              border-color: #0d6efd;
              background-color: rgba(13, 110, 253, 0.05);
              cursor: pointer;
          }
      </style>

    </div>
  </div>




  <!-- Aquí Stimulus inyectará las nuevas galerías -->
  <div id="galleries-container" data-gallery-target="container"></div>

  <!-- Formulario para agregar nuevas galerías -->
  <div class="card mb-4">
    <div class="card-header fw-bold">Agregar galería</div>
    <div class="card-body">
      <input type="text" data-gallery-target="name" class="form-control mb-2" placeholder="Nombre de la galería">
      <input type="file" data-gallery-target="files" multiple class="form-control mb-2">
      <button type="button" class="btn btn-secondary" data-action="gallery#addGallery">Agregar galería</button>
    </div>
  </div>







  <%= f.submit "Guardar", class: "btn btn-primary" %>
<% end %>
