<div class="container py-5">

  <!-- Título -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="fw-bold">Planes</h1>
    <%= link_to "Crear nuevo Plan", new_plan_path, class: "btn btn-primary" %>
  </div>

  <!-- Grid de tarjetas -->
  <div class="row g-4">

    <% @plans.each do |plan| %>
      <div class="col-md-4">
        <div class="card shadow-sm h-100">
          <div class="card-body">

            <!-- Nombre del Plan -->
            <h4 class="fw-bold"><%= plan.name %></h4>
            <p class="text-muted">
              <%= plan.description.presence || "Sin descripción" %>
            </p>

            <!-- Features -->


            <h6 class="fw-bold mt-3">Características:</h6>

            <ul class="list-unstyled">
              <% parse_features(plan).each do |key, value| %>
                <li>
                  <i class="bi bi-check-circle-fill text-success"></i>
                  <%= feature_text(key, value) %>
                </li>
              <% end %>
            </ul>


            <h6 class="fw-bold mt-3">Precios:</h6>

            <ul class="list-unstyled">
              <% plan.plan_prices.each do |price| %>
                <li>
                  <i class="bi bi-currency-dollar"></i>
                  <strong><%= number_to_currency(price.price, precision: 2) %></strong>
                  — <%= price.duration %>
                </li>
              <% end %>
            </ul>



            <!-- Acciones -->
            <div class="d-flex justify-content-between mt-4">
              <%= link_to "Ver", plan, class: "btn btn-sm btn-outline-info" %>
              <%= link_to "Editar", edit_plan_path(plan), class: "btn btn-sm btn-outline-warning" %>
              <%= link_to "Eliminar", plan, class: "btn btn-sm btn-outline-danger",
                          data: { turbo_method: :delete, turbo_confirm: "¿Seguro que deseas eliminar este plan?" } %>
            </div>

          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>
