<%= form_with(model: [@establishment, lodging].compact, local: true, class: 'card shadow-sm border-info', data: { controller: "form-validation" }) do |form| %>
  <div class="card-body">
    <%= render_validation_errors(lodging) %>

    <% if @establishment %>
      <%= form.hidden_field :establishment_id, value: @establishment.id %>
    <% end %>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= form.label :lodging_type, "Tipo de Hospedaje", class: "form-label fw-bold required-field" %>
        <%= form.select :lodging_type, Lodging.lodging_types.keys.map { |s| [s.titleize, s] }, { include_blank: "Seleccione un tipo" }, class: "form-select", required: true %>
      </div>

      <div class="col-md-6 mb-3">
        <%= form.label :price_per_night, "Precio por noche ($)", class: "form-label fw-bold required-field" %>
        <%= form.number_field :price_per_night, step: 0.01, class: "form-control", placeholder: "Ej. 45.00", required: true %>
      </div>
    </div>

    <div class="row bg-light rounded p-2 mb-3 mx-1">
      <div class="col-md-6 mb-2">
        <%= form.label :check_in_time, "Hora de Check-in", class: "form-label fw-bold" %>
        <%= form.time_field :check_in_time, class: "form-control" %>
      </div>
      
      <div class="col-md-6 mb-2">
        <%= form.label :check_out_time, "Hora de Check-out", class: "form-label fw-bold" %>
        <%= form.time_field :check_out_time, class: "form-control" %>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :rules, "Condiciones y Reglas", class: "form-label fw-bold" %>
      <%= form.text_area :rules, rows: 4, class: "form-control", placeholder: "Normas de convivencia, ruido, mascotas..." %>
    </div>

    <div class="d-grid mt-4">
      <%= form.submit "Guardar Hospedaje", class: "btn btn-info text-white fw-bold btn-lg" %>
    </div>
  </div>
<% end %>
