<table class="table table-hover align-middle shadow-sm">
  <thead class="table-light">
  <tr>
    <th class="text-center">ID</th>
    <th class="text-center">Nombre</th>
    <th class="text-center">Categoría</th>
    <th class="text-center">Razón social</th>
    <th class="text-center">Responsable</th>
    <th class="text-center">USER-ID</th>
    <th class="text-center">Afiliado</th>
    <th class="text-center">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <% establishments.each do |est| %>
    <tr>
      <td class="text-center"><%= est.id %></td>
      <td class="text-center"><%= est.name.presence || "-" %></td>
      <td class="text-center"><%= establishment_type_label(est.category) || "-" %></td>
      <td class="text-center"><%= est.legal_info&.business_name || "-" %></td>
      <td class="text-center"><%= est.legal_info&.legal_representative || "-" %></td>
      <td class="text-center"><%= est.user_id || "-" %></td>
      <td class="text-center"><%= est.user.name || "-" %></td>

      <td>
        <div class="d-flex justify-content-center gap-2">
          <%= link_to est, class: "btn btn-info btn-sm" do %>
            <i class="fa-solid fa-eye"></i>
          <% end %>
          <%= link_to edit_establishment_path(est), class: "btn btn-warning btn-sm" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= link_to dashboard_establishment_path(est), class: "btn btn-secondary btn-sm" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= link_to est, data: { turbo_method: :delete, turbo_confirm: "¿Está seguro de eliminar este establecimiento?" }, class: "btn btn-danger btn-sm" do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
