<%#= link_to new_establishment_path, class: "btn btn-success btn-lg mb-3" do %>
<!--  <i class="fa-solid fa-plus"></i> Nuevo establecimiento-->
<%# end %>
<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<%= link_to "Nuevo establecimiento", new_establishment_path, class: "btn btn-success btn-lg mb-3" %>


<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Categoría</th>
    <th>Nombre comercial</th>
    <th>Administrador</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @establishments.each do |est| %>
    <tr>
      <td><%= est.id %></td>
      <td><%= est.legal_info.id %></td>
<!--      <td><%#= est.legal_info %></td>-->
<!--      <td><%#= est.legal_info.business_name %></td>-->
      <td><%= est.legal_info.legal_representative %></td>
<!--      <td><%#= est.category.titleize %></td>-->
<!--      <td><%#= est.user.email %></td>-->
      <td>

        <%= link_to est, class: "btn btn-info btn-sm" do %>
          <i class="fa-solid fa-eye"></i>
        <% end %>
        <%= link_to edit_establishment_path(est), class: "btn btn-warning btn-sm" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to est, data: { turbo_method: :delete, turbo_confirm: "¿Está seguro de eliminar este establecimiento?" }, class: "btn btn-danger btn-sm" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>

      </td>
    </tr>
  <% end %>
  </tbody>
</table>
